<div class="cmtLnk">
    <h2>Comments</h2>

{% for user in page.comment %}
                {% assign bst = forloop.index  | minus: 1 %}
                {% assign tst = page.comment[bst].user.id %}
                <div class="cmtBlock">
        <img class="proImgP" src="{{site.url}}{{site.data.users.list[tst].user.image}}" alt="news yoga user {{site.data.users.list[tst].user.name}}'s profile picture">
        <span>
            <div class="nm">{{site.data.users.list[tst].user.name}}</div>
            <div class="cmt">{{page.comment[bst].user.cmt}} </div>
        </span>
    </div>
{% endfor %}
    <button onclick="window.open('{{page.redDiss}}')"> more comments</button>
</div>