
{% comment %}
https://www.sharelinkgenerator.com/
https://www.coderstool.com/share-social-link-generator
{% endcomment %}

<div class="lkSoc">
    <span>
        <a href="https://twitter.com/intent/tweet?text=https%3A//newsyoga.github.io/-{{page.url}}%20Never%20I%20have%20thaught,%20I%20would%20like%20this%20bolg!"><img src="{{site.url}}/assets/share/twitter.WebP" alt="twitter logo"></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//newsyoga.github.io/-{{page.url}}%20Never%20I%20have%20thaught,%20I%20would%20like%20this%20bolg"><img src="{{site.url}}/assets/share/fb.WebP" alt="facebook logo"></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//newsyoga.github.io/-{{page.url}}%20Never%20I%20have%20thaught,%20I%20would%20like%20this%20bolg!"><img src="{{site.url}}/assets/share/linkedin.WebP" alt="linkedin logo"></a>
        <a href="https://t.me/share/url?url=https%3A//newsyoga.github.io/-{{page.url}}%20Never%20I%20have%20thaught,%20I%20would%20like%20this%20bolg!&text=Never%20I%20have%20thaught,%20I%20would%20like%20this%20bolg!"><img src="{{site.url}}/assets/share/telegram.WebP" alt="telegram logo"></a>
        <a href="https://pinterest.com/pin/create/button/?url=&media=https%3A//newsyoga.github.io/-{{page.url}}%20Never%20I%20have%20thaught,%20I%20would%20like%20this%20bolg!"><img src="{{site.url}}/assets/share/pin.WebP" alt="Pintrest logo"></a>
        <a href="https://reddit.com/submit?url=https://newsyoga.github.io/-{{page.url}}&title=Never%20I%20have%20belived!%20I%20would%20read%20this!" target="_blank" rel="nofollow noopener"><img src="{{site.url}}/assets/share/red.WebP" alt="reddit logo"></a>
    </span>
    <div class="mailc">
        <a href="mailto:hello.news.yoga@gmail.com?body=hey%20there!%0AWe%20are%20news%20to%20yoga,%0Ahow%20can%20we%20help%20you?"><span>hello.news.yoga</span> @gmail.com</a> 
        <button onclick="window.open('mailto:hello.news.yoga@gmail.com?body=hey%20there!%0AWe%20are%20news%20to%20yoga,%0Ahow%20can%20we%20help%20you?','_blank')">mail us</button>
    </div>
</div>