{% comment %}
<!--
<div class="warning">
    <span class="v1">Warning</span><span class="v2">
        <img src="{{site.data.info.warn.Img}}" alt="post image">
        <span>
            <div class="hd">{{site.data.info.warn.Title}}</div>
            <div class="desc">{{site.data.info.warn.desc}}</div>
        </span>
    </span>
</div>


{% for post in site.posts limit:1 %}
... Show the post ...
{% endfor %} 
-->
hello comment
{% endcomment %}
{% for post in site.posts limit:1 %}
<div class="warning">
    <a class="anc" href="{{site.url}}{{ post.url }}"> 
    <span class="v1">Warning</span><span class="v2">
            <img src="{{site.url}}/assets/postassets/{{post.postid}}/thumbnailglobal.WebP{% comment %} {{post.blog.Image}} {% endcomment %}" alt="post image">
            <span>
                <div class="hd">{{post.story.heading}}</div>
                <div class="desc">{{post.story.description}}</div>
            </span>
    </span>
    </a>
</div>
{% endfor %}
