.warning .v1,
article h1 {
    font-size: var(--fntM)
}

h1{
    word-spacing: 4.236px;
}

article figure,
article img {
    margin: var(--grp2) auto
}

.pst img,
.warning .v2 img {
    height: auto;
    object-fit: cover
}

.cmtBlock .proImgP,
.pst span .nm img {
    margin-right: var(--grp2)
}

.mrblg a,
.pst a,
.warning .anc {
    text-decoration: inherit;
    color: inherit
}

.lkSoc .mailc,
.lkSoc span,
.warning .v1,
article h1 {
    text-align: center
}

:root {
    --wrd: #FFB3B3;
    --white: #ffffff;
    --groL: 76.00%;
    --groS: 76%;
    --gr70: 76px;
    --fntM: 46.97px;
    --fntMS: 29.03px;
    --fntS: 17.94px;
    --gr11: 11.089px;
    --gr122: 122.966px;
    --grp29: 29.030%;
    --grp46: 46.97%;
    --grp76: 76%;
    --grp17: 17.942%;
    --gr17: 17.942px;
    --grp6: 6.854%;
    --grp2: 2.618%;
    --grp11: 11.089%;
    --grp1: 1.618%;
    --grp122: 122.966%;
    --gr320: 321.916%;
    --bg1: #EDEDED;
    --bg2: #F1F1F1;
    --grh46: 46.97dvh;
    --grh29: 29.03dvh;
    --minWd: 300px;
    --mnWd: 267px
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    color: #060221b8;
    letter-spacing: 0.1618px;
    word-spacing: 2.618px;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Inter, sans-serif
}

.cmtBlock .proImgP,
.lkSoc a img,
.pst .proimg {
    aspect-ratio: 1/1;
    border-radius: var(--gr122)
}

.mrblg a h3,
.warning .v2 span .hd,
h2 {
    font-size: var(--fntMS)
}

header {
    width: 100%;
    padding: 1.618dvh 0;
    display: block;
    position: fixed;
    top: 0;
    background-color: #fff
}

header img {
    height: var(--gr70);
    padding-left: 1.618%;
    width: auto
}

.warning {
    background: var(--wrd);
    display: flex;
    margin-top: calc(var(--gr70) + var(--fntMS))
}

.warning .v1,
.warning .v2 {
    display: inline-block;
    display: inherit;
    justify-content: center;
    align-items: center
}

.warning .v1 {
    width: var(--grp29);
    display: inherit;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    border-right: .618px solid rgba(255, 84, 84, .451)
}

.cmtBlock,
.mediaPosts,
.mrblg li a,
.warning .anc {
    display: flex
}

.warning .v2 {
    width: var(--groL);
    padding: var(--gr11) 0
}

.cmtBlock .cmt,
.cmtBlock .nm {
    padding-bottom: var(--grp1)
}

.warning .v2 img {
    width: var(--gr122);
    display: inline-block;
    margin: 0 var(--grp2);
    border-radius: var(--grp6);
    aspect-ratio: 1/1
}

.warning .v2 span {
    width: var(--groS);
    display: inline-block
}

.warning .v2 span .hd {
    width: 100%;
    font-weight: 400
}

.warning .v2 span .desc {
    width: 100%;
    font-size: var(--fntS);
    font-weight: 300
}

.cmtLnk,
.lkSoc,
.mrblg,
article {
    width: var(--grp76);
    margin: auto;
    background-color: var(--bg1);
    padding: var(--grp2) var(--grp6)
}

article {
    line-height: 1.618;
    font-size: 121%
}

.cmtBlock,
.cntHld {
    padding: var(--grp2)
}

article h1 {
    font-weight: 700;
    font-size: calc(var(--fntM) - var(--gr11));
}

.lkSoc .mailc a,
.mrblg a h3,
h2 {
    font-weight: 200
}

article img {
    width: auto;
    height: var(--grh46);
    display: block;
    object-fit: cover
}

article figcaption {
    font-style: italic;
    font-weight: 200;
    width: 100%;
    text-align: center
}

p {
    text-indent: var(--fntM);
    margin-bottom: var(--grp2)
}

.cntHld {
    background: var(--bg2)
}

.cmtBlock .nm,
em {
    font-weight: 600
}

.cmtLnk h2 {
    padding-bottom: var(--gr11);
    border-bottom: .1px solid rgba(5, 5, 15, .088)
}

.cmtBlock {
    align-items: center
}

.cmtBlock img {
    width: var(--grp46)
}

.cmtBlock .cmt {
    font-weight: 300
}

.cmtBlock .proImgP {
    height: var(--grp11);
    width: var(--grp11);
    object-fit: cover
}

.cmtLnk button,
.lkSoc button {
    display: block;
    margin: auto;
    font-size: var(--fntS);
    font-weight: 100;
    padding: var(--grp1);
    margin-bottom: var(--grp1)
}

.mediaPosts {
    background-color: var(--wrd);
    width: 100%;
    overflow: hidden;
    justify-content: center
}

.mrblg li .l1,
.pst {
    width: var(--grp29);
    display: block
}

.pst img {
    width: 100%;
    border-radius: var(--fntMS);
    padding: 0
}

.pst span .cmt,
.pst span .nm {
    padding-left: var(--grp6)
}

.pst .proimg {
    height: var(--grp17);
    width: var(--grp17)
}

.pst span .nm {
    display: flex;
    align-items: center;
    padding-top: var(--grp2)
}

.mrblg a h3 {
    margin-bottom: var(--grp1)
}

.mrblg li {
    list-style-type: none;
    margin: var(--grp6) auto;
    display: flex
}

.lkSoc span,
.mrblg li .l2 {
    display: block
}

.mrblg li .l1 img {
    width: 100%;
    aspect-ratio: 2/1.618;
    object-fit: cover
}

.mrblg li .l2 {
    width: 70%;
    margin-left: var(--grp11)
}

footer {
    width: 100%
}

.lkSoc a img {
    height: var(--grp6);
    width: var(--grp6);
    margin: auto;
    margin-bottom: var(--grp6)
}

.lkSoc .mailc {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.lkSoc button {
    margin: 0;
    margin-left: var(--grp2)
}

.lkSoc .mailc a {
    display: flex;
    text-decoration: none;
    color: inherit
}

.blogs_in,
.lkSoc .mailc span {
    font-weight: 400
}

.lkSoc {
    border-bottom: .1px solid rgba(5, 5, 15, .106)
}

.lkSoc span a {
    padding: var(--grp1)
}

.mrblg a .hd3 {
    font-size: var(--fntS)
}

@media (max-width:664px) {

    .mediaPosts,
    .warning,
    .warning .anc,
    .warning .v2 {
        flex-direction: column
    }

    header img {
        height: var(--fntM)
    }

    .warning {
        margin-top: var(--gr122)
    }

    .cmtLnk,
    .lkSoc,
    .mrblg,
    .mrblg li .l1,
    .warning .v1,
    .warning .v2,
    article {
        width: 100%
    }

    .pst,
    article img {
        width: var(--grp76)
    }

    .warning .v1 {
        border-right: none;
        border-bottom: .618px solid rgba(255, 84, 84, .436);
        padding: var(--grp2);
        font-size: var(--fntMS);
        margin-top: var(--grp2)
    }

    article h1 {
        font-size: calc(var(--fntM) - var(--gr17));
        line-height: normal;
    }

    article img {
        height: auto
    }

    .cmtBlock .proImgP {
        height: var(--grp17);
        width: var(--grp17);
        margin-right: var(--grp2);
        vertical-align: top
    }

    .pst {
        align-self: center
    }

    .lkSoc a img {
        height: var(--grp11);
        width: var(--grp11)
    }

    .mrblg li a {
        flex-direction: column;
        height: fit-content
    }

    .mrblg li .l1 {
        height: var(--grp29);
        margin-top: var(--grp2)
    }

    .mrblg li .l1 img {
        height: 100%;
        object-fit: cover;
        aspect-ratio: 2/1
    }

    .mrblg li .l2 {
        width: 100%;
        display: block;
        margin-left: 0
    }

    .warning .v2 img {
        width: var(--grp76);
        aspect-ratio: 2/1;
        object-fit: cover;
        border-radius: var(--gr11)
    }

    .warning .v2 span {
        margin-top: var(--grp1)
    }

    body {
        min-width: var(--mnWd)
    }
}