:root {
    --wrd: #FFB3B3;
    --white: #ffffff;
    --groL: 76.00%;
    --groS: 76%;
    --gr70: 76px;
    --fntM: 46.97px;
    --fntMS: 29.03px;
    --fntS: 17.94px;
    --gr11: 11.089px;
    --gr122: 122.966px;
    --grp29: 29.030%;
    --grp46: 46.97%;
    --grp76: 76%;
    --grp17: 17.942%;
    --grp6: 6.854%;
    --grp2: 2.618%;
    --grp11: 11.089%;
    --grp1: 1.618%;
    --grp122: 122.966%;
    
    
    
    --bg1: #EDEDED;
    --bg2: #F1F1F1;

    --grh46: 46.97dvh;
    --grh29: 29.03dvh;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "Inter", sans-serif;
  }

header {
    width: 100%;
    padding: 1.618dvh 0;
    display: block;
    position: fixed;
    top:0;
    background-color: white;
}

header img {
    height: var(--gr70);
    padding-left: 1.618%;
    width: auto;
}

.warning {
    background: var(--wrd);
    display: flex;
    margin-top: calc(var(--gr70) + var(--fntMS));
}

.warning .v1,
.warning .v2 {
    display: inline-block;

    display: inherit;
    justify-content: center;
    align-items: center;
}

.warning .v1 {
    width: var(--grp29);
    text-align: center;
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: var(--fntM);
    font-weight:100;

    border-right: .618px solid rgba(255, 84, 84, 0.68);
}

.warning .v2 {
    width: var(--groL);
    padding: var(--gr11) 0;
}

.warning .v2 img{
    width: var(--gr122);
    display: inline-block;
    height: auto;
    margin: 0 var(--grp2) ;
    border-radius: var(--grp6);
    object-fit: cover;
}

.warning .v2 span{
    width: var(--groS);
    display: inline-block;
}

.warning .v2 span .hd{
    width: 100%;
    font-size: var(--fntMS);
    font-weight: 400;
    padding-bottom: ;
}

.warning .v2 span .desc{
    width: 100%;
    font-size:var(--fntS);
    font-weight: 300;
}

article, .cmtLnk, .mrblg, .lkSoc{
    width: var(--grp76);
    margin: auto;

    background-color: var(--bg1);
    padding: var(--grp2) var(--grp6);
}

article h1{
    font-size: var(--fntM);
    font-weight: 700;
    text-align: center;
}

article img{
    width: auto;
    margin: var(--grp2) auto;
    height: var(--grh46);
    display: block;
}

article figure{
    margin: var(--grp2) auto;
}

article figcaption{
    font-style: italic;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

p{
    text-indent: var(--fntM);
    margin-bottom: var(--grp2);
}

.cntHld{
    background: var(--bg2);
    padding: var(--grp2);
}

h2{
    font-size: var(--fntMS);
    font-weight: 200;
}

.cmtLnk h2{
    padding-bottom: var(--gr11);
    border-bottom: 0.1px solid rgba(5, 5, 15, 0.088);
}

.cmtBlock{
    display: flex;
    padding: var(--grp2);
    align-items: center;
}

.cmtBlock img{
    width: var(--grp46);
    
}

.cmtBlock .nm{
    font-weight: 600;
    padding-bottom: var(--grp1);
}

.cmtBlock .cmt{
    font-weight: 300;
    padding-bottom: var(--grp1);
}

.cmtBlock .proImgP{
    height: var(--grp11);
    width: var(--grp11);
    aspect-ratio: 1/1;
    border-radius: var(--gr122);
    object-fit:cover;
    margin-right: var(--grp2);
}

.cmtLnk button, .lkSoc button{
    display: block;
    margin: auto;
    font-size: var(--fntS);
    font-weight: 100;
    padding: var(--grp1);
    margin-bottom: var(--grp1);
}

.mediaPosts{
    background-color: var(--wrd);
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.pst{
    width: var(--grp29);
}

.pst img{
    width: 100%;
    border-radius: var(--fntMS);
    padding: 0%;
    object-fit:cover;
    height: auto;
}

.pst span .cmt, .pst span .nm{
    padding-left: var(--grp6);
}

.pst {
    display: block;
}

.pst .proimg{
    height: var(--grp17);
    width: var(--grp17);
    aspect-ratio: 1/1;
    border-radius: var(--gr122);
}

.pst span .nm{
    display: flex;
    align-items: center;
    padding-top: var(--grp2);
}

.pst span .nm img{
    margin-right: var(--grp2);
}

.mrblg a{
    text-decoration: inherit;
    color: inherit;
}

.mrblg a h3{
    font-size: var(--fntMS);
    font-weight: 200;
    margin-bottom: var(--grp1);
}

.mrblg li{
    list-style-type: none;
    margin: var(--grp6) auto;
    display: flex;
    
}

.mrblg li .l1 img{
    width: 100%;
}

.mrblg li .l2{
    width: 70%;
    display: block;
    margin-left: var(--grp11);
}

.mrblg li .l1{
    width: var(--grp29);
}

footer {
    width: 100%;
}

.lkSoc a img{
    height: var(--grp6);
    width: var(--grp6);
    aspect-ratio: 1/1;
    border-radius: var(--gr122);
    margin: auto;
    margin-bottom: var(--grp6);
}

.lkSoc span {
    display: block;
    text-align: center;
}

.lkSoc .mailc{
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lkSoc button{
    margin: 0;
    margin-left: var(--grp2);
}

.lkSoc .mailc a{
    display: flex;
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}

.lkSoc .mailc span{
    font-weight: 400;
}

.lkSoc {
    border-bottom: 0.1px solid rgba(5, 5, 15, 0.88);
}